<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="content">
			<div id="starsDisplay">
				<h1>Star Map</h1>
				<canvas id="starMap" width="200" height="200"></canvas>
				<table id="stars">
					<thead>
						<th>Star</th>
						<th>X coordinate</th>
						<th>Y coordinate</th>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div id="planetsDisplay">
				<h1>Planet Map</h1>
				<canvas id="planetMap" width="200" height="200"></canvas>
				<br />
				<br />
				<input type="checkbox" id="autopilot" /> Use autopilot
				<table id="planets">
					<thead>
						<th>Planet</th>
						<th>X coordinate</th>
						<th>Y coordinate</th>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div id="planetData">
			</div>
			<div id="planetDataBase">
				<h1>Visited Planets</h1>
				<div id="visitedPlanets"></div>
			</div>
			<div id="planet">
				<button>Release drone</button>
				<canvas id="map" width="200" height="200"></canvas>
			</div>
		</div>

	<!-- TEMPLATES -->
	<script id="regularPlanet" type="plain/text">
		<h1>Selected Planet</h1>
		<h2><%= planet_no %></h2>
		<ul>
			<li>Day: <%= day %></li>
			<li>Esc Velocity: <%= esc_velocity %></li>
			<li>Cloud Cover: <%= cloud_cover %></li>
			<li>Radius: <%= radius %></li>
			<li>Type: <%= type %></li>
			<li>X Pos: <%= x %></li>
			<li>Y Pos: <%= y %></li>
			<li>Surface Gravity: <%= surf_grav %></li>
			<li>Orbit Zone: <%= orbit_zone %></li>
		</ul>
	</script>

	<script id="extendedPlanet" type="plain/text">
		<h1>Selected Planet</h1>
		<p>(With extended information)</p>
		<h2><%= planet_no %></h2>
		<ul>
			<li>Day: <%= day %></li>
			<li>Esc Velocity: <%= esc_velocity %></li>
			<li>Cloud Cover: <%= cloud_cover %></li>
			<li>Radius: <%= radius %></li>
			<li>Density: <%= density %></li>
			<li>Type: <%= type %></li>
			<li>X Pos: <%= x %></li>
			<li>Y Pos: <%= y %></li>
			<li>Surface Gravity: <%= surf_grav %></li>
			<li>Orbit Zone: <%= orbit_zone %></li>
		</ul>
	</script>

	<script id="visitedPlanetRow" type="plain/text">
		<table>
			<thead>
				<th>Planet</th>
				<th>Core radius</th>
				<th>Surf gravity</th>
				<th>Has Anomalies?</th>
			</thead>
			<tbody>
				<% $.each(planets, function() { %>
					<tr data-name="<%= this.planet_no %>">
						<td><%= this.planet_no %></td>
						<td><%= this.core_radius %></td>
						<td><%= this.surf_grav %></td>
						<td><%= this.anomalies === undefined ? "False" : "True" %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</script>
	
	<!-- JAVASCRIPT LIB -->
	<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
	<script src="jquery.dataTables.min.js"></script>
	<script src="underscore-min.js"></script>
	<script src="map.js"></script>
	<script src="mapcontrol.js"></script>
	<script src="planetcontrol.js"></script>
	<script src="table.js"></script>
	<script src="ship.js"></script>
	<script src="drone.js"></script>
	<script src="init.js"></script>
	
	</body>
</html>
