body {
	font-family: "Helvetica Neue Light", "Helvetica", sans-serif;
}
#map {
	background-color: black;
}
table {
	border-collapse: collapse;
}
table th, table td{
	text-align: left;
	padding: 5px;
}
.selected {
	background-color: #ccc;
}
