body {
	font-family: "Helvetica Neue Light", "Helvetica", sans-serif;
}

#content {
	width: 1040px;
	margin: 0 auto;
}

#starsDisplay, #planetsDisplay, #planetData {
	box-sizing: border-box;
	display: inline-block;
	width: 340px;
	padding: 0 10px;
}

#starMap, #planetMap {
	background-color: black;
}
table {
	border-collapse: collapse;
}
table th, table td{
	text-align: left;
	padding: 5px;
}
.selected {
	background-color: #ccc;
}
